
<% if notice %>
	<div class='alert alert-success alert-dismissible'>
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		    
	</div>
<% end %>
<% if alert %>
	<div class='alert alert-danger alert-dismissible'>
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
<% end %>
